<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>connexus.server.GreetingServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/connexus/greet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>manage</servlet-name>
    <servlet-class>connexus.servlet.Manage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manage</servlet-name>
    <url-pattern>/manage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>create</servlet-name>
    <servlet-class>connexus.servlet.Create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>create</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>view</servlet-name>
    <servlet-class>connexus.servlet.View</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>view</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>connexus.servlet.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>trending</servlet-name>
    <servlet-class>connexus.servlet.Trending</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trending</servlet-name>
    <url-pattern>/trending</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>social</servlet-name>
    <servlet-class>connexus.servlet.Social</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>social</servlet-name>
    <url-pattern>/social</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>admin</servlet-name>
    <servlet-class>connexus.servlet.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>manage</welcome-file>
  </welcome-file-list>

  <listener>
    <listener-class>connexus.ConnexusServletContextListener</listener-class>
  </listener>

  <filter>
    <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ObjectifyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
